body {  background-color: #484848; font-family: Serif; font-size: 1.2em;
        color: #FFFFFF; text-shadow: #808080 0.1em 0.1em 0.2em; }
img { display: block; margin: auto; }
p { text-align: justify; margin-top: 25px; }

a { color: #808080; text-decoration: none; }

#page { width: 800px; margin: auto; }
